body {
  margin: 111px;
  padding: 111px;
  font-family: sans-serif;
  background: rgb(77, 77, 77);
  color: rgb(255, 255, 255);
}

/* Path: chatgpt-adrian/src/App.css */
.App {
  text-align: center;
}

.Wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: center;
  justify-content: center;
  height: 100vh;
  
}

.TextArea {
  width: 444px;
  height: 111px;
  border: 1rem;
  border-color: azure;
  background: rgb(222, 222, 222);
  color: rgb(0, 0, 0);
  font-size: 1.5em;
  padding: 1em;
  resize: none;
}

.Romeo {
  
  display: flex;
  align-items: center;
  justify-content: center;
}

.Juliet {
  width: 444px;
  height: 444px;
  /* width: 444px;
  height: 333px;
  border: 1rem;
  border-color: azure;
  background: rgb(222, 222, 222);
  color: rgb(0, 0, 0); */
  font-size: 1em;
  padding: 1em;
  resize: none;
  align-items: left;
}

.button {
	display: flex;
	height: 50px;
	padding: 0;
	background: #FF69B4;
	border: none;
	outline: none;
	border-radius: 5px;
	overflow: hidden;
	font-family: "Quicksand", sans-serif;
	font-size: 16px;
	font-weight: 500;
	cursor: pointer;
}

.button:hover {
	background: #FF1493;
}

.button:active {
	background: #C71585;
}

.button__text,
.button__icon {
	display: inline-flex;
	align-items: center;
	padding: 0 24px;
	color: #fff;
	height: 100%;
}

.button__icon {
	font-size: 1.5em;
	background: rgba(0, 0, 0, 0.08);
}